@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color:black;
  font-family: Arial, Helvetica, sans-serif;
 
}

header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 15%;
 padding-top: 20px;
 text-align:center;
 background-color: black;
 color: white;
}
.logo{
  text-align: end;
  align-items: center;
  gap: 5px;
  font-size: x-large;
}


.logbtn{
  background:#171717;
  padding: 8px 18px;
  border-radius: 20px;
}
.getbtn{
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
}


.navbtn{ 
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.hero{
  padding-bottom: auto;
  padding-left: auto;
  padding-right: auto;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   height: 110vh;
  /* background: linear-gradient(180deg, black 70%, rgb(35, 42, 84)15%, rgb(26, 61, 81)15%); */
background:
  /* Bottom Left Purple Glow */
  radial-gradient(circle at bottom left, #232a54 0%, transparent 25%),
  /* Bottom Right Teal Glow */
  radial-gradient(circle at bottom right, #1a3d51 0%, transparent 25%),
  /* Solid Black Background (Majority Top) */
  #010006;
  color: white;
}
.hero h1{
  font-size: 68px;
  text-align: center;
}
.hero p{
  margin: 0 25%;
  text-align: center;
}
.hero-btn{
  display: flex;
  gap: 15px;
  margin-top: 40px;
}
.ctnbtn{
 padding: 8px 12px;
 border-radius: 20px;
}
.tab{
 display: flex;
 justify-content: center;
 width: 70%;
 height: auto;
 margin: auto;
 margin-top: -190px;
 border-radius: 15px;
 border:10px solid rgba(225,225,255,0.1);
 padding: 20px;
 margin-bottom: 20px;
}

.container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.invo-icon{
  height: 70px;
  width: 80px;
  align-items: center;
  padding: 10px;
  border: 2px solid rgb(220, 220, 220);
  border-radius:10px
}
.invo-icon:nth-child(1){
  margin-left: -50px;

}
.invo-icon:nth-child(2){
  margin-left: -50px;
}
.invo-icon img{
  margin: auto;
}
.bill{
width: 26%;
padding: 15px;

}
.amount{
display: flex;
justify-content: space-between;
align-items: center;
position:relative;
padding: 15px;
border-radius: 10px;
border:2px solid rgb(220, 220, 220);
line-height: normal;
margin: auto;
margin-top: 50px;
margin-left: -150px;
margin-right: 150px;

}

.amount p{
  font-size: x-large;
  font-weight: 500;
  text-decoration: black;
}
.amount span{
  font-size: small;
  font-weight: 100;
  text-decoration: gray;
}
.card-bill{
  border: 2px solid rgb(220, 220, 220);
  border-radius: 15px;
  padding: 5px;
  line-height: 2;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-left: -40px;
}
.card-bill h2{
  margin-left: 5px;
  font-weight: bold;
}
.card-bill span{
  margin-left: 5px;
  margin-bottom: 15px;
  
}
.div-3{
  margin-top: 70px;

}
.pic1{
margin-left: 30px;
margin-bottom: 20px;

}

.macbook{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 15px;
  margin-right: -120px;
  margin-left: 120px;

}